.buttonC {
    height: 34px;
    width: 244px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    color: #fbf5f3;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #EA8933;
}