.button {
    height: 3em;
    width: 8em;
    border-radius: 8px;
    border: none;
    font-family: 'Roboto';
    font-size: 18px;
    color: #fbf5f3;
    font-weight: bold;
    background: linear-gradient(304deg, #25CDAA 3.72%, rgba(51, 208, 175, 0.9375) 33.18%, rgba(255, 255, 255, 0) 108.48%), #A2D694;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.23);

}