.buttonC {
    height: 2.1em;
    width: 244px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    color: #fbf5f3;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #E8AE3C;
}