.CharityForm-Container{
    margin: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #686868;
}
.CharityForm-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
}
.CharityForm-button{
    align-self: center;
    width: 100%;
}
.CharityForm-buttonDiv{
    padding: 15%;
    display: flex;
    align-items: center;
}
    