.divHome {
    display: flex;
    flex-direction: column;
    align-items:center;
    
}
.girl-img{
    width: 123px;
    height: 125px;
}
.frutas-img{
    width: 105px;
    height: 100px;
    margin-left: 10px;

}
.gente-img{
    width: 100px;
    height: 100px;
    width: 135px;
    height: 105px;

}
.divUs, .give, .receive {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: auto;
    margin-top:1%;
    margin-bottom: 1%;
    padding: 2%;
    border-radius: 5px;
    color: white;
    margin-bottom: 1.5em;
}
.divUs {
    background: #469D8B;
}
.give {
    background: #EA8933;
}
.receive {
    background: #73BAD3;
}
.btnUs, .btnGive, .btnReceive {
    
border-radius: 5px;
color: white;
width: 150px;
height: 40px;
border:none;
}
.btnUs {
    background: #26D8BA;
}
.btnGive {
    background: #FEC12A;
}
.btnReceive{
    background: #FFFFFF;
    color:#73BAD3;
}


.img{
    display: flex;
    max-width: 200px;

}
@media all and (max-width: 415px){
    .divUs, .give, .receive{
        padding: 2%;
        width: 70%;
        height: 160px;
        font-size: x-small;
    }
    
    .divHome{
        margin-top: 1em;
    }
    .btnUs, .btnGive, .btnReceive{
        width: 100px;
        height: 30px;
        margin-top: 5%;
    }
}
