.navbar-logo{
    height: 4em;
    background-color: #469D8B;
    align-items: center;
    display: flex;
    padding-left: 1em;
}
.navbar-logo img{
    width: 78px;
    height: 50px;
}

.container-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: -webkit-fill-available;
}

.container-login form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
