.navbar-logo {
    height: 4em;
    background-color: #469d8b;
    align-items: center;
    display: flex;
    padding-left: 2em;
  }
  .navbar-logo img {
    width: 78px;
    height: 50px;
  }
  
  .container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .container-login h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    width: 15.8em;
    margin-top: 2em;
  }
  .text-login {
    width: 20em;
    font-size: 14px;
    color: #686868;
  }
  
  .condiciones{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #686868;
    width: 216px;
  }
  
  .container-login form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
  }
  .container-login-end {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: -2em;
  }
  
  .container-btn-google {
    display: flex;
    flex-direction: row;
  }
  .google {
    width: 20px;
    height: 20px;
    padding-right: 10px;
  }
  .btn-google {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 244px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    color: #fbf5f3;
    font-weight: bold;
    background-color: #353434;
    margin-bottom: 10px;
  }
  
  .container-conditions {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
  }

  